dll_update.zip
download/*
downloadlists/*
*.sfk
*.sav
maps/graphs/*
user_custom/*
materials/temp/*
cfg/user.scr
vpks/*
cfg/config.cfg
sound/sound.cache
modelsounds.cache
ep1_gamestats.dat
ep2_gamestats.dat
hl2_gamestats.dat
demoheader.tmp
GameState.txt
ServerConfig.vdf
vpks/hl2coop.privatekey.vdf
vpks/hl2coop.publickey.vdf
vpks/pak01/*
vpks/hl2coop.privatekey.vdf
vpks/hl2coop.publickey.vdf
vpks/pak01/*
save/*